yamaSoapCli/src/main/java/test/movies.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://fhtech.org/yama/movies" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fhtech.org/yama/movies" targetNamespace="http://fhtech.org/yama/movies">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://fhtech.org/yama/movies">


    <xs:element name="searchMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="searchString" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="movies" type="tns:movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="importMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="movies" type="tns:movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="importMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="genre">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTION"/>
            <xs:enumeration value="ANIMATION"/>
            <xs:enumeration value="COMEDY"/>
            <xs:enumeration value="DRAMA"/>
            <xs:enumeration value="HORROR"/>
            <xs:enumeration value="SCIENCE_FICTION"/>
            <xs:enumeration value="THRILLER"/>
            <xs:enumeration value="WESTERN"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sex">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMALE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="studio">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="countrycode" type="xs:string"/>
        <xs:attribute name="postcode" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="actor">
        <xs:attribute name="firstname" type="xs:string"/>
        <xs:attribute name="lastname" type="xs:string"/>
        <xs:attribute name="sex" type="tns:sex"/>
        <xs:attribute name="birthdate" type="xs:date"/>
    </xs:complexType>

    <xs:complexType name="movie">
        <xs:sequence>
            <xs:element name="studio" type="tns:studio"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="actors" type="tns:actor"/>
        </xs:sequence>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="genre" type="tns:genre"/>
        <xs:attribute name="length" type="xs:short"/>
        <xs:attribute name="releaseyear" type="xs:short"/>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="importMovieResponse">
    <wsdl:part element="tns:importMovieResponse" name="importMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchMovieResponse">
    <wsdl:part element="tns:searchMovieResponse" name="searchMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="importMovieRequest">
    <wsdl:part element="tns:importMovieRequest" name="importMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchMovieRequest">
    <wsdl:part element="tns:searchMovieRequest" name="searchMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MoviesPort">
    <wsdl:operation name="importMovie">
      <wsdl:input message="tns:importMovieRequest" name="importMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:importMovieResponse" name="importMovieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMovie">
      <wsdl:input message="tns:searchMovieRequest" name="searchMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:searchMovieResponse" name="searchMovieResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MoviesPortSoap11" type="tns:MoviesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="importMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="importMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="importMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="searchMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoviesPortService">
    <wsdl:port binding="tns:MoviesPortSoap11" name="MoviesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>